/* 所有变量：https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */

/* 浅色模式使用的变量 */
html[theme] {
  --vp-c-user-1: #00635F;
  --vp-c-user-2: #39C5BB;
  --vp-c-user-3: #66CCFF;
  --vp-c-user-soft: #39C5BB;
}

/* 深色模式使用的变量 */
html[theme].dark {
  --vp-c-user-1: #FBD26A;
  --vp-c-user-2: #01847F;
  --vp-c-user-3: #002FA7;
  --vp-c-user-soft: #A3850B;
}

/* 覆盖默认变量 */
html[theme],
html[theme].dark {
  --vp-c-brand-1: var(--vp-c-user-1);
  --vp-c-brand-2: var(--vp-c-user-2);
  --vp-c-brand-3: var(--vp-c-user-3);
  --vp-c-brand-soft: var(--vp-c-user-soft);
}

/* PATCH: 覆盖原始样式中右侧因为Tag较多导致的页面变形 */
div.card.tags {
  max-height: 400px;

  ul.tag-list {
    overflow: auto;
  }
}
